@import 'mixin';

$cSubTitle: #535353;
$cWineRed: #904669;

.pace-done #global-container {
    opacity: 1;
}

#global-container {
    transition: opacity 3s ease-in;
    opacity: 0;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
   
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
   
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
   
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 50px;
    overflow: hidden;
  }
   
  .pace .pace-progress {
    transform: none !important;
    text-align: center;
  }
   
  .pace .pace-progress:after {
    content: attr(data-progress-text);
    display: block;
    font-weight: 100;
    font-size: 2em;
    font-family: 'Helvetica Neue', 'Yu Gothic', 'Meiryo', sans-serif;
    color: $cSubTitle;
  }
   
  .pace .pace-activity {
    position: absolute;
    width: 100%;
    height: 28px;
    z-index: 2001;
    box-shadow: inset 0 0 0 2px #29d, inset 0 0 0 7px #FFF;
    border-radius: 10px;
  }
   
  .pace.pace-inactive {
    display: none;
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
  }