a {
    color: red;

    &:visited {
        color: chartreuse;
    }

    &:hover {
        color: green;
    }

    &:focus {
        color: black;
    }
    


}

div {
    & span {
        color: red;

        &:not(.cls) {
            color: palegreen;
        }

        // &:nth-child(2n + 1) {
        //     color: blue;
        // }
    }

    
}